<mat-toolbar>
	<mat-toolbar-row fxFlex="100" fxLayoutAlign="center center">
		<h1>
	    	Welcome to Schools!
		</h1>
	</mat-toolbar-row>
</mat-toolbar>
<div class = "outer-container" fxLayout="row" fxLayoutWrap fxLayoutAlign="center none">
	<div class = "inner-container" fxFlex="95" fxLayoutWrap fxFlex.gt-sm="80" fxLayout="row">
		<div fxLayout="row" fxLayoutWrap fxFlex = "100" fxFlex.gt-sm="80" class = "chart-content">
			<div fxLayout = "row" fxLayoutWrap fxLayoutAlign="space-around center" fxFlex = "100">
		    	<app-school-search fxFlex = "90" fxFlex.gt-sm="45"></app-school-search>
				<app-chart-search fxFlex = "90" fxFlex.gt-sm="45"></app-chart-search>
			</div>
			<div fxLayoutWrap="row" fxFlex="100" class="chart-container-outer">
				<div fxFlex = "100" fxFlex.gt-sm="75" class="chart-container-inner" style="height:300px;background-color: blue">
				</div>
				<div fxFlex = "100" fxFlex.gt-sm="25" class="legend-container">
					<ul>
						<li>Legend Item
						</li>
						<li>Legend Item
						</li>
						<li>Legend Item
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div fxLayout = "row" fxFlex = "100" fxFlex.gt-sm="20" fxFlexAlign="start" class = "sidebar">
			<div>Sidebar Sidebar Sidebar Sidebar SidebarSidebar Sidebar Sidebar Sidebar<div>
			<div>Sidebar<div>
			<div>Sidebar<div>
			<div>Sidebar<div>
			<div>Sidebar<div>
		</div>
	</div>
</div>