@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app/modules/chart-page/school-search/school-search.component';
@import './app/modules/global-layout/header/header.component';
@import './app/modules/global-layout/nav/nav.component';