<form [formGroup]="searchForm" novalidate flex>
    <mat-form-field class = "school-search">
        <input type="text" matInput formControlName="searchText" [matAutocomplete]="auto" placeholder="School Search"/>
    </mat-form-field>
    <mat-autocomplete
        (optionSelected)="onSchoolSelected($event)" 
    	#auto="matAutocomplete" 
        [displayWith]="showSchoolName"
        >        
        <mat-option  *ngFor="let option of autocompleteResults" 
        	[value]="option">
            {{ option.instnm }}
        </mat-option>
    </mat-autocomplete>
</form>