<form [formGroup]="searchForm" novalidate>
    <mat-form-field>
        <input type="text" matInput formControlName="searchText" [matAutocomplete]="auto"/>
    </mat-form-field>
    <!--export the autocomplete panel instance to a template variable and bind above-->
    <!--instruct autocomplete to show school name, not whole object, on selection-->
    <mat-autocomplete 
    	#auto="matAutocomplete" 
        [displayWith]="showSchoolName"
    	placeholder="School Search">        
        <mat-option *ngFor="let option of autocompleteResults" 
        	[value]="option">
            {{ option.instnm }}
        </mat-option>
    </mat-autocomplete>
</form>