<div class = "card-holder" fxLayout="row wrap" fxLayoutAlign = "center" class="m-t-10">
	<mat-card fxLayout="row wrap" fxFlex = "100" fxFlex.gt-sm="50">
		<mat-card-header fxFlex = "100" fxLayoutAlign="center">
	    	<mat-card-title><h2>Update Content</h2></mat-card-title>
	  	</mat-card-header>
	  	<mat-card-content fxFlex = "100">
			<div class = "content-list">
				<ul>
					<li *ngFor="let content of contentList">
						<span class="mat-button" mat-button (click) = "setContentToEdit(content._id)">{{content.handle}}</span>
						<i class="material-icons mat-icon-button" (click)="delete(content)">delete</i>
					</li>
				</ul>
			</div>
		<button mat-raised-button class = "mat-raised-button" (click) = 'createNewContent()'>New Content</button>
		<div class = "content-edit-section" *ngIf='getContentSelected()'>
			<form [formGroup]="contentForm" fxLayout="row wrap">
				<mat-form-field fxFlex="100" fxFlex.gt-sm = "50">
					<input matInput type='text' placeholder='handle' formControlName = 'handle'> 
				</mat-form-field>
				<!-- <mat-form-field fxFlex="100"> -->
					<app-ngx-editor matInput formControlName = 'content' [(ngModel)]='editorContent'> </app-ngx-editor>
				<!-- </mat-form-field> -->
				<button mat-raised-button class = "mat-raised-button" (click) = 'submitForm()'>Submit</button>
			</form>
		</div>
		</mat-card-content>
	</mat-card>
</div>