svg {
    shape-rendering: auto;
}
path {
    fill: none;
}
text {
    font-family: 'Roboto';
}
form {
    width: 100%;
}
li {
    list-style: none;
}
.spacer-10 {
    margin: 10px 0px;
}
.spacer-20 {
    margin: 20px 0px;
}
.margin-top-15 {
    margin: 15px 0px 0px 0px;
}

.center-text {
    text-align: center;
}
.left-text {
    text-align: left;
}
.d3-tip {
    position: absolute;
    text-align: left;
    padding: 4px;
    font: 12px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 99999;
    color: white;
    ul {
        margin: 0 0;
        padding: 0 0;
        li {
            list-style: none;
        }
    }
}