//theme
$primary: #673ab7; //for extending
//margin/padding
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (top, bottom, left, right);
@each $space in $spaceamounts {
    @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }
        .p-#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }
}
//material resets
//so that injected panel class extends to children
.mat-dialog-container {
    background: inherit;
}
.froala-editor {
    width: 100%;
}
//global
svg {
    shape-rendering: auto;
}
path {
    fill: none;
}
text {
    font-family: 'Roboto';
}
form {
    width: 100%;
}
li {
    list-style: none;
}
.spacer-10 {
    margin: 10px 0px;
}
.spacer-20 {
    margin: 20px 0px;
}
.center-text {
    text-align: center;
}
.left-text {
    text-align: left;
}
.d3-tip {
    position: absolute;
    text-align: left;
    padding: 4px;
    font: 12px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 99999;
    color: white;
    ul {
        margin: 0 0;
        padding: 0 0;
        li {
            list-style: none;
        }
    }
}