//theme
$primary: #673ab7; //for extending

$accent: rgb(255, 215, 64);

$accent-x-light: rgba(255, 215, 64, .1);

$accent-light: rgba(255, 215, 64, .25);

$accent-md: rgba(255, 215, 64, .5);

$accent-strong: rgba(255, 215, 64, .75);