<!--todo: just make three simple columns at like 20 60 20, align left center right-->
<nav fxLayout = "row" fxLayoutAlign="space-around center">
	<div fxFlex = "0 1 auto" fxLayoutAlign="flex-start">
  		<a class = "mat-button" fxFlex="0 1 auto" mat-button routerLink="/data/" routerLinkActive="mat-button-toggle-checked">Data</a>
  		<a class = "mat-button" fxHide fxShow.gt-xs = "true" fxFlex="0 1 auto" mat-button routerLink="/about" routerLinkActive="mat-button-toggle-checked">About</a>
  </div>

	<div fxFlex fxLayoutAlign="center center">
		<h1 class = "nav-title" fxFlex = "0 1 auto">Higher Data</h1>
	</div>

	<div fxLayout = "row" fxLayoutAlign="flex-end">
      <a class = "mat-button" fxShow.gt-xs = "false" fxFlex="0 1 auto" mat-button routerLink="/about" routerLinkActive="mat-button-toggle-checked">About</a>
      <span fxHide fxShow.gt-xs = "true" fxFlex="0 1 auto">&nbsp;</span>
	</div>
</nav>

