<nav fxLayout = "row">
	<div fxFlex = "0 1 33" fxLayoutAlign="flex-start center">
  		<img src = "assets/logo-small.png">
  	</div>

	<div fxFlex = "1 1 80" fxFlex.gt-sm = "0 33" fxLayoutAlign="center center">
		<h1 class = "nav-title" fxFlex = "0 1 auto">Higher Data</h1>
	</div>

	<div fxShow.gt-sm = "false" fxFlex ="0 1 33" fxLayoutAlign="flex-end">
		<button mat-icon-button [matMenuTriggerFor]="menu">
	  		<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
	  		<button mat-menu-item routerLink="/about" routerLinkActive="mat-button-toggle-checked">
	    		<mat-icon>info</mat-icon>
	    		<span>About</span>
	  		</button>
	  		<button mat-menu-item routerLink="/data" routerLinkActive="mat-button-toggle-checked">
	    		<mat-icon>show_chart</mat-icon>
	    		<span>Data</span>
	  		</button>
		</mat-menu>
	</div>
	<div fxShow.gt-sm = "true" fxHide fxFlex ="0 1 33" fxLayoutAlign="flex-end">
		<a class = "mat-button" fxFlex="0 1 auto" mat-button routerLink="/data/" routerLinkActive="mat-button-toggle-checked">Data</a>
  		<a class = "mat-button" fxFlex="0 1 auto" mat-button routerLink="/about" routerLinkActive="mat-button-toggle-checked">About</a>
	</div>
</nav>

