<nav fxLayout = "row" fxLayoutAlign="start center">
	<div fxFlex="none" fxLayout = "row" fxLayoutAlign="start center">
	  	<a class = "mat-button" fxFlex="none" mat-button routerLink="/blog">Blog</a>
  		<a class = "mat-button" fxFlex="none" mat-button routerLink="/docs">Docs</a>
  		<a class = "mat-button" fxFlex="none" mat-button routerLink="/">Home</a>
  	</div>
  	<div fxLayout = "row" fxFlex fxLayoutAlign="end center">
  		<a class = "mat-button" fxFlex="none" mat-button routerLink="/admin">Admin</a>
  	</div>
</nav>

