<nav fxLayout = "row" fxLayoutAlign="center center" class = "mat-elevation-z3">
	<div fxFlex="none" fxLayout = "row" fxLayoutAlign="start center">
	  	<a class = "mat-button" fxFlex="none" mat-button [routerLink]="['edit-blog']">edit blog</a>
  		<a class = "mat-button" fxFlex="none" mat-button [routerLink]="['manage-charts']">manage charts</a>
  		<a class = "mat-button" fxFlex="none" mat-button [routerLink]="['manage-variables']">manage variables</a>
  	</div>
</nav>
<router-outlet></router-outlet>
