<!--admin subnav-->
<nav mat-tab-nav-bar fxLayout = "row" fxLayoutAlign="center center" class = "mat-elevation-z3">
	<a 
		mat-tab-link
	    [routerLink]="['edit-blog']"
	    routerLinkActive #rla1="routerLinkActive"
	    [active]="rla1.isActive">
	    edit blog
	</a>
	<a 
		mat-tab-link
	    [routerLink]="['manage-charts']"
	    routerLinkActive #rla2="routerLinkActive"
	    [active]="rla2.isActive">
	    manage charts
	</a>
	<a 
	  	mat-tab-link
	    [routerLink]="['manage-variables']"
	    routerLinkActive #rla3="routerLinkActive"
	    [active]="rla3.isActive">
	    manage variables
	</a>
	<a 
	  	mat-tab-link
	    [routerLink]="['manage-content']"
	    routerLinkActive #rla4="routerLinkActive"
	    [active]="rla4.isActive">
	    manage content
	</a>
</nav>

<router-outlet></router-outlet>