:host {
    flex: 1 1 100%;
}
chart-page {
    .chart-title {
        text-align: center;
    }
    .chart-container-outer {
        ul {
            padding: 0;
            li {
                list-style: none;
            }
        }
    }
}