<mat-toolbar>
	<mat-toolbar-row fxFlex="100" fxLayoutAlign="center center">
		<h1>
	    	Create a Chart
		</h1>
	</mat-toolbar-row>
</mat-toolbar>
<div class = "outer-container" fxLayout="row" fxLayoutWrap fxLayoutAlign="center none">
	<div class = "inner-container" fxFlex="95" fxLayoutWrap fxFlex.gt-sm="80" fxLayout="row">
		<div fxLayout="row" fxLayoutWrap fxFlex = "100" fxFlex.gt-sm="80" class = "chart-content">
			<div fxLayout = "row" fxLayoutWrap fxLayoutAlign="space-around center" fxFlex = "100">
		    	<app-school-search [defaultModel] = "defaultModel" (onSchoolSelect)="onSchoolSelect($event)" fxFlex = "90" fxFlex.gt-sm="45"></app-school-search>
				<app-chart-search [defaultChart]="defaultChart" (onChartSelect)="onChartSelect($event)" fxFlex = "90" fxFlex.gt-sm="45"></app-chart-search>
			</div>
			<div fxLayoutWrap="row" fxFlex="100" *ngIf="chart && chart.cuts.length>0">
				<span>Filter by: </span>
				<mat-radio-group formControlName="filter" (change) = "onCutByChange($event)">
					<mat-radio-button *ngFor="let cut of chart.cuts" [value] = cut.formula>
						{{cut.name}}
					</mat-radio-button>
				</mat-radio-group>
			</div>
			<div fxLayoutWrap="row" fxFlex="100" class="chart-container-outer">
				<app-trend-chart [chartData]="chartData" fxFlex = "100" fxFlex.gt-sm="75" ></app-trend-chart>
				<div class = "legend-container" fxFlex = "100" fxFlex.gt-sm="25">
					<ul class = "legend"></ul>
				</div>
			</div>
		</div>
		<div fxLayout = "row" fxFlex = "100" fxFlex.gt-sm="20" fxFlexAlign="start" class = "sidebar">
			<div>Sidebar Sidebar Sidebar Sidebar SidebarSidebar Sidebar Sidebar Sidebar<div>
			<div>Sidebar<div>
			<div>Sidebar<div>
			<div>Sidebar<div>
			<div>Sidebar<div>
		</div>
	</div>
</div>