chart-page {
    .mat-toolbar {
        h1 {
            font-size: 2.5rem;
        }
    }
    .chart-title {
        text-align: center;
    }
    .chart-container-outer {
        ul {
            padding: 0 0;
            li {
                list-style: none;
            }
        }
    }
    path {
        fill: none;
    }
}