<div fxFlex="100" fxLayoutAlign="center center">
	<h3 class = "section-heading">
		Select a chart to view its sources
	</h3>
</div>
<div fxFlex = 100 fxFlex.gt-xs = 33 fxLayoutAlign = "center center" fxLayout="column" >	
	<app-chart-search fxLayoutAlign="center center" [defaultChart] = "urlChart" (onChartSelect) = setChart($event) class = "m-t-15"></app-chart-search>
	<div *ngIf="chart" fxLayoutAlign = "center center" fxLayout="column">
		<h3 fxFlex class ="center-text mat-title">
			Chart: {{chart.name}}
		</h3>
		<h4 fxFlex class ="center-text mat-title">
			Chart Variables:
		</h4>
		<div *ngIf="definitions" fxFlex = 100 fxLayoutAlign = "center center" fxLayout="column">
			<div *ngFor = "let definition of definitions; let i = index;" fxLayoutAlign = "center center" fxLayout="column">
				<div class = "m-t-15 component-holder left-text" fxLayout="column">
					<div class = "definition-headings mat-body-1 mat-elevation-z2">
						<div>
							<strong>Variable {{i+1}} Legend Name:</strong> 
							{{definition.legendName}}
						</div>
						<div>
							<strong>Variable {{i+1}} Calculation:</strong> 
							{{definition.formula | stripOptTags}}
						</div>
						<div>
							<strong>Variable {{i+1}} Calculation details:</strong> 
						</div>
					</div>
					<div *ngFor="let def of definition.variableDefinitions">			
						<app-source-display  [variable] = "def"></app-source-display>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>