<div fxLayout = "column" [fxFlex]="100"  fxLayoutAlign="center center">
	<div [fxFlex]="100" [fxFlex.gt-sm]="80" class = "m-t-20">
		<h4 class = "section-heading mat-display-1">
			Longitudinal Higher Education Data
			<br>
			<small>HigherData.org collects data on American higher education from diverse public sources and makes it accessible through charts and tables.</small>
		</h4>
	</div>
	<div [fxFlex] = "100" [fxFlex.gt-sm] = "80">
		<app-site-content fxFlex=100 [handle] = "'about-page'"></app-site-content>
	</div>
</div>