app-about-page {
    .content {
        max-width: 1000px;
    }
    mat-jumbotron {
        img {
            &.mat-card-xl-image {
                flex-grow: 1;
                height: auto;
                width: 80%;
            }
            div {
            	flex: 1 1 20%;
            }
        }
    }
}