app-table-page { 
    mat-header-cell:nth-child(1),mat-cell:nth-child(1){
    	padding-right:20px; 
    }
    .mat-header-row {
        position: sticky;
        top: 75px;
        background: white;
    }
}