<mat-toolbar>
	<mat-toolbar-row fxFlex="100" fxLayoutAlign="center center">
		<h3>
	    	Use the controls below to select a variable
		</h3>
	</mat-toolbar-row>
</mat-toolbar>
<div class = "outer-container" fxLayout="row wrap"  fxLayoutAlign="center center">
	<div class = "inner-container" fxFlex="95"  fxFlex.gt-sm="90" fxLayout="row wrap" fxLayoutAlign="center center">
		<div fxLayout="row wrap"  fxLayoutAlign="center center" fxFlex = "100" fxFlex.gt-sm="80" class = "chart-content">
			<div class = "variable-dropdown" fxFlex="90" fxFlex.gt-sm="60" fxLayout="row wrap" fxLayoutAlign="center">
				<app-variable-select [multi]="false" [defined]="true" fxFlex = "90" fxFlex.gt-sm="45" [urlVariable] = "urlVariable" (onVariableSelect) = "setVariables($event)"></app-variable-select>
			</div>
			<div fxFlexLayout = "row wrap" fxFlex = "100" [formGroup]="tableOptionsForm" *ngIf="chartData">
				<div class = "options-container" fxFlex = "100">
					<i class="material-icons mat-icon-button" (click)="toggleTableOptionsVisible()" *ngIf="!getChartOptionsVisible()">settings</i>
					<i class="material-icons mat-icon-button" (click)="toggleTableOptionsVisible()"  *ngIf="getChartOptionsVisible()">close</i>
					<div class = "table-options" *ngIf="getTableOptionsVisible" fxLayout="column" fxFlex = "100" fxFlex.gt-sm="80" fxLayoutAlign="start start">
						<ul class = "mat-body-1" fxLayout="column">
							<!--todo: deal with fact that only some values will be currency-->
							<li *ngIf="getTableIsCurrency()" fxLayoutAlign="start center" fxFlex = "100">
								<ul fxLayout = "column">
									<li>
										<span class="mat-body-1">Inflation Adjusted:&nbsp;</span>
									</li>
									<li>
										<mat-radio-group formControlName="inflationAdjusted" (change) = "onInflationChange($event)">
											<mat-radio-button [value] = true>
												Adjusted
											</mat-radio-button>
											<mat-radio-button [value] = false>
												Original
											</mat-radio-button>
										</mat-radio-group>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>	
			</div>
			<div fxFlex="100"  fxLayoutAlign = "center center" fxLayout = "row wrap">
				<div fxFlex="100" class = "chart-title mat-title">
					title goes here i suppse
				</div>
				<div fxFlex="100" *ngIf = "!showTable" class="center-text">
					No datter
				</div>
				<div *ngIf="showTable" class="table-container mat-elevation-z8" fxFlex = 100 fxFlex.gt-sm = 75 fxLayoutAlign = "space-around start">
					<mat-table [dataSource]="matTableDataSource" fxFlex=85 >
	  					<ng-container *ngFor="let column of visibleColumns" [matColumnDef]="column">
	    					<mat-header-cell class= "center-text" *matHeaderCellDef>{{ column }}</mat-header-cell>
	    					<mat-cell class= "center-text" *matCellDef="let row">{{ row[column] }}</mat-cell>
	  					</ng-container>
	  					<mat-header-row class= "center-text" *matHeaderRowDef="visibleColumns" fxFlex = 100></mat-header-row>
					    <mat-row class= "center-text" *matRowDef="let row; columns: visibleColumns;" fxFlex = 100>
					    </mat-row>
					</mat-table>
					<div fxFlex=15 fxFlexAlign="start">
						<button mat-icon-button [disabled]="!getLeftArrowVisible()" (click) = "shiftVisibleColumnsLeft()" class="no-hover">
							<i class="material-icons">chevron_left</i>
						</button>
						<button mat-icon-button [disabled]="!getRightArrowVisible()" (click) = "shiftVisibleColumnsRight()" class="no-hover">
							<i class="material-icons">chevron_right</i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



