<div class = "card-holder" fxLayoutWrap fxLayour="row">
	<mat-card fxLayout="row" fxLayoutWrap fxFlex = "100" fxFlex.gt-sm="50">
		<mat-card-header fxFlex = "90" fxLayoutWrap fxLayout="row" fxLayoutAlign.gt-sm="space-between center">
	    	<div class = "card-info" fxFlex ="35">
		    	<mat-card-title><h2>Chart Management</h2></mat-card-title>
	    	</div>
	    	<div class = "chart-search" fxFlex="90" fxFlex.gt-sm="60" fxLayout="row" fxLayoutAlign="start center" *ngIf="!showChartSearch">
				<i class="material-icons mat-icon-button" (click)="toggleChartSearch()">search</i>		    	
			</div>
	    	<div class = "chart-search" fxFlex="90" fxFlex.gt-sm="60" fxLayout="row" fxLayoutAlign="none center" *ngIf="showChartSearch">
		    	<app-chart-search (onChartSelect)="onChartSelect($event)" fxFlex="100" fxFlex.gt-sm="100"></app-chart-search>
				<i class="material-icons mat-icon-button" (click)="toggleChartSearch()">close</i>   	
			</div>
	  	</mat-card-header>
	  	<mat-card-content fxFlex ="90">	
			<div>
			    <form [formGroup]="chartBuilderForm" (ngSubmit)="onSubmit()" fxLayout="row" fxLayoutWrap fxFlex = "100">
			    	<div fxLayout="row" fxFlex = "100" fxLayoutWrap fxLayoutAlign="space-around center">
				        <mat-form-field fxFlex = "100" fxFlex.gt-sm="40">
				            <input matInput formControlName="name" type="text" placeholder = "Chart Name"/>
				        </mat-form-field>
				        <mat-form-field fxFlex = "100" fxFlex.gt-sm="40">
				            <input matInput formControlName="description" type="text" placeholder="Chart Description">
				        </mat-form-field>
				        <mat-form-field fxFlex = "100" fxFlex.gt-sm="40">
				            <input matInput formControlName="slug" type="text" placeholder="Slug">
				        </mat-form-field>
				        <mat-form-field fxFlex = "100" fxFlex.gt-sm="40">
				            <mat-select class="form-control" formControlName="type" placeholder = "Type">
          						<mat-option *ngFor="let type of chartTypes" [value]="type">{{type}}
          						</mat-option>
      						</mat-select>
				        </mat-form-field>
				        <mat-form-field fxFlex = "100" fxFlex.gt-sm="40">
				            <mat-select class="form-control" formControlName="category" placeholder = "Category">
          						<mat-option *ngFor="let type of chartCategories" [value]="type">{{type}}
          						</mat-option>
      						</mat-select>
				        </mat-form-field>
				        <div fxFlex = "100" fxFlex.gt-sm="40">
				            <mat-button-toggle-group formControlName="active">
				            	<mat-button-toggle value="true">
          							Active
						        </mat-button-toggle>
						        <mat-button-toggle value="false">
						          	Inactive
						        </mat-button-toggle>
				            </mat-button-toggle-group>
				        </div>
				        <mat-form-field fxFlex = "100" fxFlex.gt-sm="40">
				            <mat-select class="form-control" formControlName="valueType" placeholder = "Value Type">
          						<mat-option *ngFor="let type of chartValueTypes" [value]="type">{{type}}
          						</mat-option>
      						</mat-select>
				        </mat-form-field>
				    </div>
				    <div fxLayout="row" formArrayName="variables" fxFlex="100" fxLayoutWrap>
		        		<div fxFlex = "100" *ngFor="let variable of chartBuilderForm.controls.variables.controls; let i=index"
		        		[formGroupName]="i" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutWrap>
							<i class="material-icons mat-icon-button" (click)="removeVariable()">indeterminate_check_box</i>
		        			<span fxFlex = "90">Variable {{i + 1}}</span>
		                	<mat-form-field fxFlex = "90" fxFlex.gt-sm="40">
		                   		<input matInput type="text" formControlName="legendName" placeholder="Legend Name">
		                	</mat-form-field>
		                    <mat-form-field fxFlex = "90" fxFlex.gt-sm="40">
			                    <input matInput type="text" formControlName="notes" placeholder="Notes">
							</mat-form-field>		                
		                	<mat-form-field fxFlex = "90">
		                   		<textarea matInput formControlName="formula" placeholder="Formula"></textarea>
		                	</mat-form-field>
		        		</div>
		        		<div fxLayout="row" fxFlex = "100" fxLayoutAlign = "space-around center">
	                      	<i fxFlex="nogrow" class = "material-icons mat-icon-button"(click)="addVariable()">add_box</i>
	                      	<button fxFlex="nogrow" mat-button [disabled] = "chartBuilderForm.invalid">Save</button>
		        		</div>
				    </div>
			    </form>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card fxLayout="row" fxLayoutWrap fxFlex = "100" fxFlex.gt-sm="50">
		<mat-card-header fxFlex = "90">
	    	<mat-card-title>Chart Preview</mat-card-title>
	    	<mat-card-subtitle>a subtitle</mat-card-subtitle>
	  	</mat-card-header>
	  	<mat-card-content fxFlex ="90">	
			 <!--chart preview-->  
			 <!--should have school select box here to test on different schools--> 
		</mat-card-content>
	</mat-card>
</div>