<!--todo:
1) set max width
2) make formula into tokenized textbox
3) center card
3) split card in half, other half for chart preview
4) add toggle for new/edit
*make sure to leave space for chart preview
-->
<div class = "card-holder" fxLayoutWrap fxLayour="row">
	<mat-card fxLayout="row" fxLayoutWrap fxFlex = "100" fxFlex.gt-sm="50">
		<mat-card-header fxFlex = "90">
	    	<mat-card-title>Chart Management</mat-card-title>
	    	<mat-card-subtitle>a subtitle</mat-card-subtitle>
	  	</mat-card-header>
	  	<mat-card-content fxFlex ="90">	
			<div>
			    <form [formGroup]="chartBuilderForm" (ngSubmit)="onSubmit()" fxLayout="row" fxLayoutWrap fxFlex = "100">
			    	<div fxLayout="row" fxFlex = "100" fxLayoutWrap>
				        <!--todo: match to backend chart model-->
				        <mat-form-field fxFlex = "100" fxFlex.gt-sm="45">
				            <input matInput formControlName="chartName" type="text" placeholder = "Chart Name"/>
				        </mat-form-field>
				        <mat-form-field fxFlex = "100" fxFlex.gt-sm="45">
				            <input matInput formControlName="chartDescription" type="text" placeholder="Chart Description">
				        </mat-form-field>
				    </div>
				    <div fxLayout="row" fxFlex = "100">
			        	<ul formArrayName="variables" fxFlex="100" fxLayoutWrap>
			        		<!--todo: use divs with offsets instead of lis for more control-->
			        		<li fxFlex = "100" *ngFor="let variable of chartBuilderForm.controls.variables.controls; let i=index"
			        		[formGroupName]="i" fxLayout="row" fxLayoutAlign="none center" fxLayoutWrap>
								<i class="material-icons mat-icon-button" (click)="removeVariable()">indeterminate_check_box</i>
			        			<span fxFlex = "90">Variable {{i + 1}}</span>
			                    <mat-form-field fxFlex = "90" fxFlex.gt-sm="50">
				                    <input matInput type="text" formControlName="name" placeholder="Name">
								</mat-form-field>		                
			                	<mat-form-field fxFlex = "90" fxFlex.gt-sm="50">
			                   		<input matInput type="text" formControlName="legendName" placeholder="Legend Name">
			                	</mat-form-field>
			                	<mat-form-field fxFlex = "90" fxFlex.gt-sm="90">
			                   		<textarea matInput formControlName="formula" placeholder="Formula"></textarea>
			                	</mat-form-field>
			        		</li>
			        		<li fxLayout="row" fxFlex = "100">
		                      	<button fxFlex="nogrow" mat-mini-fab class = "mat-elevation-z3" type="button" (click)="addVariable()">+</button>
		                      	<button fxFlex="nogrow" mat-button>Submit</button>
			        		</li>
				    	</ul>
				    </div>
			    </form>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card fxLayout="row" fxLayoutWrap fxFlex = "100" fxFlex.gt-sm="50">
		<mat-card-header fxFlex = "90">
	    	<mat-card-title>Chart Preview</mat-card-title>
	    	<mat-card-subtitle>a subtitle</mat-card-subtitle>
	  	</mat-card-header>
	  	<mat-card-content fxFlex ="90">	
			    
		</mat-card-content>
	</mat-card>
</div>