<div>
    <form [formGroup]="loginForm" flex="" novalidate="" (ngSubmit)="onSubmit()">
        <mat-form-field class="login">
            <input matInput formControlName="username" placeholder="username" type="text"/>
        </mat-form-field>
        <mat-form-field class="login">
            <input matInput formControlName="password" placeholder="password" type="text"/>
        </mat-form-field>
        <button class="mat-button" mat-button>Submit</button>
        <mat-error *ngIf="invalidPassword()">{{invalidPassword()}}</mat-error>  
    </form>
</div>