<div fxFlex="100" fxLayoutAlign="center center">
	<h3 class = "section-heading">
		Select a chart to view its sources
	</h3>
</div>
<div fxFlex = 100 fxFlex.gt-xs = 33 fxLayoutAlign = "center center" fxLayout="column" >	
	<app-chart-search fxLayoutAlign="center center" [defaultChart] = "urlChart" (onChartSelect) = setChart($event) class = "m-t-15"></app-chart-search>
	<div *ngIf="chart" fxLayoutAlign = "center center" fxLayout="column">
		<span fxFlex class = "mat-headline">
			Chart: {{chart.name}}
		</span>
		<span fxFlex class ="center-text mat-subheading-1">
			Chart Variables:
		</span>
		<div *ngIf="definitions" fxFlex = 100 fxLayoutAlign = "center center" fxLayout="column">
			<div *ngFor = "let definition of definitions; let i = index;" fxLayoutAlign = "center center" fxLayout="column">
				<div class = "m-t-15 component-holder left-text" fxLayout="column">
					<div class = "definition-headings mat-elevation-z2">
						<div>
							<span class = "mat-body-strong">Variable {{i+1}} Legend Name:</span> 
							<span class = "mat-body-1">{{definition.legendName}}</span>
						</div>
						<div>
							<span class = "mat-body-strong">Variable {{i+1}} Calculation:</span> 
							<span class = "mat-body-1">{{definition.formula | stripOptTags}} </span>
						</div>
						<div>
							<span class = "mat-body-strong">Variable {{i+1}} Calculation details:</span> 
						</div>
					</div>
					<div *ngFor="let def of definition.variableDefinitions">			
						<app-source-display  [variable] = "def"></app-source-display>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>