@import '../../../../../themes/higher-theme/higher-palette';

@import './_chart-sources-theme.component';

@include chart-sources-theme($theme);

app-chart-sources {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    flex-wrap: wrap;
    .definition-headings {
        padding: 5px;
        margin-top: 10px;
        &:first-child {
            margin-top: none;
        }
    }
}